<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="../../styleshome.css">
      <script src="../../script.js"></script>
   </head>

   <body>
      <div class="navBar topnav" id="myTopnav">
          <a href="../../index.html">Home</a>
          <a href="../../resume/resume.html">Resume</a>
          <a href="../../weather/weather.html">Weather</a>
          <a href="../../backpack/index.html">Backpack</a>
          <a href="https://github.com/MSB46/MSB46.github.io/tree/main/CS355/Feedback">Feedback</a>
          <a href="https://github.com/MSB46/MSB46.github.io/tree/main/CS355/Orders">Orders</a>

          <a href="https://github.com/MSB46/MSB46.github.io/tree/main/CS355/boilerplate-mongomongoose-1">FCA Mongoose/MongoDB</a>
          <a href="https://github.com/MSB46/MSB46.github.io/tree/main/CS355/NPM%20Boiler%20Solution">FCA NPM</a>
          <a href="https://github.com/MSB46/MSB46.github.io/tree/main/CS355/Boilerplate%20Express%20Solution">FCA Express</a>

          <a href="#">Timestamp</a>
          <a href="../../boilerplate-project-headerparser/views/index.html">Header Parser</a>
          <a href="../../boilerplate-project-urlshortener/views/index.html">ShortURL</a>
          <a href="../../boilerplate-project-exercisetracker/views/index.html">Exercise Tracker</a>
          <a href="../../boilerplate-project-filemetadata/views/index.html">File Metadata</a>

          <a href="https://github.com/MSB46/chalkboard">Chalkboard Repo</a>
          <a href="https://msb46.github.io/chalkboard/">ChalkBoard</a>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      <div class="container">
        <h2>Request Header Parser Microservice</h2>

        <h3>Example Usage:</h3>
        <p>
          <a href="api/whoami">[base url]/api/whoami</a>
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          by <a href="https://www.freecodecamp.org">freeCodeCamp</a>
        </p>
      </div>
   </body>


</html>
