:root{
    --aside-br: 15px;
    --main-color: rgb(255,221, 199);
    --border-color: #DB7093;
    --main-border: 5px inset var(--border-color);

}

body{
    background: linear-gradient(90deg, rgba(31, 31, 31, 0.95) 39%, rgb(44, 37, 44) 100%);
    margin: 3px;
}



.viewport-header {
    position: relative;
    /*height: 100vh;*/
    /*text-align: center;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}


.home-header, .navBar{

    font-family: "Neon 80s", Helvetica, sans-serif;
    text-align: center;
    font-variant: all-small-caps;
    text-shadow: 0 0 5px darkgray;
    color: black;
    padding: 20px;
    font-size: 1.4rem;

    display: block;
}

.home-header{
    background-color: rgba(255, 240, 245, 0.29);
}
.navBar{
    padding: 10px;
    border: 0;
    background-color: rgba(28, 28, 28, 0.35);
    font-size: 1.6rem;
    margin-bottom: 3px;
    justify-content: center;
    display: flex;

}

.navBar a{
    color: white;
    text-shadow: 2px 2px crimson;
    font-size: 1.5em;
    margin-right:  20px;
    padding: 4px;

}

td:nth-child(even){
    background-color: #f1f1f1;
}


aside{
    text-align: center;
    margin: 0;
}

aside p{
    display: inline-block;
    background-color: rgba(19, 19, 19, 0.53);
    border: 1px solid white;
    padding: 15px;
    border-radius: var(--aside-br);
    font-size: 1.5rem;
    font-variant: all-small-caps;
    font-family: "Neon 80s", Helvetica, sans-serif ;
    text-decoration: none;
    color: #fff;
    animation: wiggle 2s infinite 0s;
}


@keyframes wiggle {
    0%{  transform: rotate(-5deg); }
    25%{ transform: rotate(3deg);}
    50%{ transform: rotate(-2deg)}
    75%{ transform: rotate(3deg);}
    100%{ transform: rotate(-5deg);}

}

a{
    text-decoration: none;
}



a:hover{
    background-color: #a2a2a2;


}

@media screen and (min-width: 300px){
    .navBar{
        flex-direction: column;
        justify-content: center;
    }

    video{
        display: none;
    }
}

@media screen and (min-width: 1053px) {
    .navBar{
        flex-direction: row;

    }


    video {
        display: block;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        filter: blur(4px);
    }

    .home-header{
        text-align: center;

    }

}
