h1,h2,h3,span{
    margin: 0;
}

h1{
    font-size: 16rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 1.4rem;
}

span{
    font-size: 6rem;
}

.container{
    font-family: "Neon 80s", Helvetica, sans-serif;
    max-width: 550px;
    height: 100vh;
    border: 4px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 20% 80%;
    text-align: center;
    padding: 25px 5px;



}

.container *:hover{
    animation: light 0.5s ease-in-out infinite alternate
}

@keyframes light {
    from{
        color: #fff;
        text-shadow: 0 0 1px #fdfd77,
        0 2px #fdfd77, 0 0 3px #fdfd77

    }

    to{
        color: #000000;
        text-shadow: 0 0 2px #fdfd77,
        0 0 0 3px #fdfd77, 0 0 0 4px #fdfd77
    }

}

.degrees{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-left: 2rem;
}