<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../styleshome.css">
    <script src="../../script.js"></script>
  </head>

  <body>
    
    <div class="navBar topnav" id="myTopnav">
      <a href="../../index.html">Home</a>
      <a href="../../resume/resume.html">Resume</a>
      <a href="../../weather/weather.html">Weather</a>
      <a href="../../backpack/index.html">Backpack</a>
      <a href="https://github.com/MSB46/MSB46.github.io/tree/main/CS355/Feedback">Feedback</a>
      <a href="https://github.com/MSB46/MSB46.github.io/tree/main/CS355/Orders">Orders</a>

      <a href="https://github.com/MSB46/MSB46.github.io/tree/main/CS355/boilerplate-mongomongoose-1">FCA Mongoose/MongoDB</a>
      <a href="https://github.com/MSB46/MSB46.github.io/tree/main/CS355/NPM%20Boiler%20Solution">FCA NPM</a>
      <a href="https://github.com/MSB46/MSB46.github.io/tree/main/CS355/Boilerplate%20Express%20Solution">FCA Express</a>

      <a href="../../boilerplate-project-timestamp/views/index.html">Timestamp</a>
      <a href="../../boilerplate-project-headerparser/views/index.html">Header Parser</a>
      <a href="#">ShortURL</a>
      <a href="../../boilerplate-project-exercisetracker/views/index.html">Exercise Tracker</a>
      <a href="../../boilerplate-project-filemetadata/views/index.html">File Metadata</a>

      <a href="https://github.com/MSB46/chalkboard">Chalkboard Repo</a>
      <a href="https://msb46.github.io/chalkboard/">ChalkBoard</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>

  </div>
    
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
    </footer>
  </body>
</html>
